*{
    padding: 0;
    margin: 0;
}
.body{
  width: 100%;
  padding: 0%;
  margin: 0;
}
.main{
    width: 100%;
    background: url(un.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    width:100%;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:#ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}
.menu{
    width: 600px;
    float: right;
    height: 60px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: #ff7200;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #282828;
}
.content{
    width: 100%px;
    height: auto;
    margin: auto;
    color: #fff;
    
}
.content h1 {
    font-family: "times New Roman";
    font-size: 50px;
    padding-left: 50px;
    margin-top: 9%;
    letter-spacing: 2px;
    background-color: rgba(0,0,0, 0.4); 
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    justify-content: center;
    color: bold black
}

.par{
    text-align: center;
    padding-top: 25%;
    font-size: 20px;
    color: black;
    
}
@keyframes mymove {
    50% {border: 15px solid lightblue;}
  }
.moreinfo{
    height: 10px;
    border: 1px solid black;
    animation: mymove 5s infinite;
    font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 21%;
  padding: 14px;
  text-align: center;
}
.content1{
    width: 100%;
    height: 40vh;
    background-color:antiquewhite;
}
.content1 h1{
    background-color: antiquewhite;
    font-weight: bold;
      border: 1px solid #0c0b0b;
      position: absolute;
      top: 116%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 41%;
      padding: 14px;
      text-align: center;
   
}

.content1 .par2{
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 3%;
    padding-top: 10%;
    font-size: 20px;
   
}
.direction{
    width: 100%;
    display: flex;
    
    height: 50vh;
    background-color: #dae8c6;
}
.content2{
    width: 33%;
    height: auto;
    justify-content: center;
    border-style: inset;
    border-spacing: 5px;
    padding-top: 2%;
    background-color: rgb(234, 214, 149);
    
    
}
.content2 h3{
    text-align: center;
}
.par3{

    text-decoration: solid;
    padding: 26px;
    font-family: Arial;
    
    text-align: justify;
}
.content3{
    width: 100%;
    height: 15vh;
}
.content3 h1{
text-align: center;
padding-top: 2%;
}
.Aboutus1{
    width: 100%;
    height: 100vh;
    background-image: url(un_background-student-image.jpeg);
    padding: 0px;
    border: solid 1px green;
    
    filter:brightness(100%);
    background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Aboutus1 h1{
font-weight: bold;
  border: 3px solid #0d0c0c;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  color: white;
}
.contact{
    font-weight: bold;
  border: 3px solid #0d0c0c;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 27%;
  padding: 12px;
  text-align: center;
  color: white;
  text-decoration-line:underline;
  border-style:double;
}
.about{
    width: 100%;
    height: 20vh;
    background-color: #282828;
}
.about h1{
    text-align: center;
padding-top: 2%;
color: white;
}
.about p{
    text-align: center;
    color: #f1f1f1;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
.icon2{
    width: 100%;
    height: 12vh;
    display: cell;
    vertical-align: middle;
    text-align: center;
    background-color: #f8ff98;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #1d63f0;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  

